body {
  background-color: #ccccff;
  text-align: center;
  position: relative;
}

h1 {
  font-family: Courier, "Lucida Console", monospace;
  font-size: 60px;
  color: #186467;
}


.column{
  width:900px;
  height:100px
  margin: 50px;
  clear: both;
  float: right;


}

.disk{
  width: 90px;
  height: 90px;
  margin: 3px;
  border-radius: 50%;
  border: 5px dashed #d0808d;
  float:left;

}
